<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="with_symbol" value="1" />
    <add key="first_capital_letter" value="1" />
    <add key="password_length" value="12" />
    <add key="remember_password" value="1" />
    <add key="memory_password" value="" />
    <add key="show_password" value="1" />
  </appSettings>
</configuration>